body {
    margin: 0;
    background-color: pink;
    font-family: sans-serif;
}

.todo-container {
    width: 350px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 15px;
    color: #691b9a6d; 
}

.input-section {
    background-color: #ffffff80; 
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 7px 6px #0000003b;
}

.input-section input {
    border-radius: 5px;
    border: 1px solid #d1c4e9; 
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f3e5f5; 
    outline: none;
    color: #6a1b9a47; 
}

input::placeholder {
    color: #b39ddb; 
}

ul {
    text-align: left;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    list-style: none;
    background-color: #ffffff80; 
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #6a1b9a47; 
    box-shadow: 0 4px 6px #0000001c;
}

ul li .actions {
    display: flex;
    gap: 10px;
}

ul li i {
    cursor: pointer;
}

.edit-input {
    background-color: #f3e5f5;
}
